html
  head
    title Picas y Fijas Express
  body
    h1 Picas y Fijas Express
    h3 Ingresa cuatro digitos diferentes y oprime Enter
    form(action="/", method="post")
      input(type="text" id="number" name="number")
      if result
        p Ingresaste #{inputNumber}      
          h4 Tienes #{result[0]} Picas y #{result[1]} Fijas